* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    margin-top: 35px;
    margin-left: 75px;
    text-align: left;
}

.container-cards {
    margin-left: 100px;
    margin-top: 35px;
    position: relative;
    padding: 10px;
    gap: 10px;
    
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    
    flex: auto;
}

.card {
    font-size: 20px;
    font-family: sans-serif;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.img {
    width: 50px;
    display: flex;
    align-items: center;
}

.display{
    padding: 1px;
    border: 2px solid black;
    border-radius: 10px;
}

.game-board {
    border-radius: 10px;
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(84, 221, 84);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 80px;
    animation: pipe-animation 1s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0px;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 400px;
    animation: clouds-animation 10s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 160px;
    }

    50% {
        bottom: 160px;
    }

    60% {
        bottom: 160px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -400px;
    }

    to {
        right: 100%;
    }
}


